body {
    background: #000000;
    color: #FFFFFF;
}

.formatClass {
    background: green;
    color: red;
    font-size: 20px;
    text-align: center;
}

.resetClass {
    background: #FFFFFF;
    color: #000000;
    font-size: 14px;
    text-align: left;
}
